html(lang="ru")
  head
    title Поиск закупочных процедур
    link(rel="stylesheet", href="style.css", type="text/css")    
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
    script(type="text/javascript" src="vue.js")    
    script(type="text/javascript" src="scripts.js" defer)
    script(type="text/javascript" src="socket.io.min.js")
    meta(charset="utf-8")
  body
    div#app
      header              
          form(v-bind:class="{ error: isError }")
            input(type="date" v-bind:value="date" v-on:change="dateChange")
            input(v-model="customer" type="text" placeholder="Поиск по поставщику")
            input(v-model="desc" type="text" placeholder="Поиск в описании")
            button#search(v-on:click="search") Искать
            button#parse(v-on:click="parse") Обновить          
            //- p Заказчик: {{ customer }}
            //- p Описание: {{ desc }}
            span.msg(v-if="isError == true") Ошибка: {{ status }}
            span.msg(v-if="isError == false" v-bind:title="status=='Парсинг' ? executor : null") Последнее обновление: {{ lastUpdateTime }} {{ status }}
            button.stop-word(v-on:click="addStopWord") 
              img(src="img/stop.svg" width="20" height="20" title="Добавление стоп-слова в базу") 
              
      main(v-on:click="closeInformer")
        p.search-msg(v-if="message") {{ message }}
        div(v-for="item in items" :key="item.number")
          div.item-card
            h1 {{ item.customer }}
            p {{ item.number }}
            p <b>Тип закупки:</b> {{ item.type }}
            p <b>Описание:</b> {{ item.description }}
            p <b>Цена:</b> {{ item.price }}
            p <b>Дата публикации:</b> {{ item.published }}
            p <b>Дата окончания:</b> {{ item.end }}
            p(v-if="item.securing_requisition") <b>Обеспечение заявки:</b> {{ item.securing_requisition }}
            p(v-if="item.securing_contract") <b>Обеспечение договора:</b> {{ item.securing_contract }}
            p 
              a(v-bind:href="item.link" target="_blank")
                <b>Подробнее</b>...  
              a(v-if="item.documents" v-bind:href="item.documents" target="_blank")
                <b>Документы</b>...              
          hr
        div.informer-bachground(v-bind:class="{ hide: !isActive }")
          sw-informer.stop-word-informer(v-bind:stopword="stopword")    

        if message
          p.search-msg #{message}
        if items       
          each item in items            
            div.item-card
              h1 #{item.customer}
              p #{item.number}
              if item.type
                p <b>Тип закупки:</b> #{item.type}
              p <b>Описание:</b> #{item.description}
              if item.price
                p <b>Цена:</b> #{item.price}
              p <b>Дата публикации:</b> #{item.published}
              p <b>Дата окончания:</b> #{item.end}
              if item.securing_requisition
                p <b>Обеспечение заявки:</b> #{item.securing_requisition}
              if item.securing_contract
                p <b>Обеспечение договора:</b> #{item.securing_contract}
              p 
                a(href=item.link target="_blank")
                  <b>Подробнее</b>...  
                if item.documents
                  a(href=item.documents target="_blank")
                    <b>Документы</b>...              
            hr